.App {
  text-align: center;
  background: #66b6c5;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container1{
  background: #66b6c5;
  border-radius: 5px;
  padding: 10px;
}

.Max-temp{
  background: #66b6c5;
}

.weather-card{
  background-size: cover;
  margin: 10px auto;
  height: 400px;
  width: 450px;
  background: #fff;
  box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  background: url("https://s-media-cache-ak0.pinimg.com/564x/cf/1e/c4/cf1ec4b0c96e59657a46867a91bb0d1e.jpg") no-repeat;
}

.header{
  margin: 40px auto;
  font-size: 40px;
  font-weight: 600;
  padding-left: 50px;
  font-style: italic;
  color: grey;
}

.date{
  margin: 20px auto;
  font-size: 25px;
  font-weight: 200;
  font-style: italic;
  color: white;
  text-align: center;
}

.max-temperature{
  margin: 40px auto;
  font-size: 25px;
  font-weight: 200;
  font-style: italic;
  color: yellow;
  text-align: center;
}

.min-temperature{
  margin: 20px auto;
  font-size: 25px;
  font-weight: 200;
  font-style: italic;
  color: lightgreen;
  text-align: center;
}